
<div class="status">
  <div class="statusData">
  <div>
    <span>AdsbUpdatesFeed</span>
    <hr>
    <div> {{flights.adsbUpdatesFeed.service}} :   {{flights.adsbUpdatesFeed.status}}</div>

  </div>
  <div>
    <span>FlightSchedulesFeed</span>
    <hr>
    <div>  {{flights.flightSchedulesFeed.service}} :  {{flights.flightSchedulesFeed.status}}  </div>

    <div>  {{flights.flightSchedulesFeed.minAvailableLocalDate}}
      -    {{flights.flightSchedulesFeed.maxAvailableLocalDate}}</div>
  </div>
  <div>
    <span>LiveFlightUpdatesFeed</span>
    <hr>
    <div>{{flights.liveFlightUpdatesFeed.service}}  :  {{flights.liveFlightUpdatesFeed.status}}  </div>

  </div>
  </div>
</div>
