<div>
  <div>
    <h1>{{title}}</h1>
  </div>

  <div class="container">

    <div class="input-group">
      <div class="indicator"
           [style.background-color]="loading? 'green':'red'">
      </div>
      <div>
        <input type="text" class="form-control" name="icao" placeholder="Input ICAO..."
               minlength="4"
               [(ngModel)]="icao"
               (keydown.enter)="getSupport(); getAirport()">
      </div>
      <div>
        <button type="submit"
                [disabled]="icao.length<4"
                (click)="getSupport(); getAirport()

">Search
        </button>
      </div>

    </div>
    <div class="data"
    >
      <app-flights
        [hidden]="!loading"
        [flights]="flightData"
      ></app-flights>

      <app-airports
        [hidden]="!loading"
        [airports]='airportData'
      ></app-airports>

    </div>
    <app-error [hidden]="loading"
    ></app-error>
  </div>
</div>

